<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This app is created by me by the help of <a href="https://www.railstutorial.org/"><em>Ruby on Rails
      Tutorial</em></a> and is still under development. Therfore, instead of the login page, I am providing the show all users page.

    </p>
  </body>
</html>