<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% @user.each do |i| %>
        USER NAME : <%= i.name %></br>
        EMAIL : <%= i.email %></br>
        <% end%>
      </h1>
    </section>
  </aside>
</div>